src/main/mule/xmltoall.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="7fd5fe6b-ced9-4d7e-b86b-6475dd14da99" >
		<file:connection workingDir="D:\Data-transformation\output" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="3638c80a-3900-4931-98a0-46edccbfb72a" >
		<file:connection workingDir="D:\Data-transformation\output" />
	</file:config>
	<file:config name="File_Config2" doc:name="File Config" doc:id="b2e51445-2e1a-4d46-93fa-2ce811f59820" >
		<file:connection workingDir="D:\Data-transformation\output" />
	</file:config>
	<flow name="xmltoallFlow" doc:id="70b3bd09-3c1c-4381-b83b-481aa26476cd" >
		<file:listener doc:name="On New or Updated File" doc:id="382768d3-93f9-422a-bdf6-dfb22ec4a8b3" watermarkMode="CREATED_TIMESTAMP" outputMimeType="application/xml" directory="D:\Data-transformation\input" moveToDirectory="D:\Data-transformation\backup" renameTo="#[&quot;backup-&quot; ++ now() as String{format: 'Y-M-d-h-m-s'} ++ &quot;-&quot; ++ vars.fileName]">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS" />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.xml"/>
		</file:listener>
		<set-variable value="#[attributes.fileName]" doc:name="file Name" doc:id="e5690acd-7554-4c0c-ab20-c3c66aeb664f" variableName="fileName"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="0ea8a04d-9183-4845-a586-8f11b2cec97c" >
			<route >
				<flow-ref doc:name="to json" doc:id="a3ce506f-533e-42e8-955a-d784bcb4db81" name="to_json_subflow"/>
			</route>
			<route >
				<flow-ref doc:name="to csv" doc:id="3ae3df7a-54c1-4dc3-b76d-95044ef993cb" name="to_csv_subflow"/>
				<logger level="INFO" doc:name="Logger" doc:id="1d44f724-baf4-46e9-a5f4-a24ddef2aa14" />
			</route>
			<route >
				<flow-ref doc:name="to xlsx" doc:id="8023b522-760c-4fcd-bd1f-7e62f753a824" name="to_xlsx_subflow"/>
			</route>
		</scatter-gather>
	</flow>
	<flow name="to_json_subflow" doc:id="e8a4b051-0ce4-40bd-a702-528cb21f85f3" >
		<ee:transform doc:name="to json" doc:id="90f84aef-4608-4823-82c8-0da1c723fa6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload.DATA.*ROW 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write json" doc:id="c3f42075-368d-47db-ad69-356f7e02ece6" config-ref="File_Config" path="#[&quot;file-&quot;++ now() as String {format: 'Y-M-d-h-m-s'} ++ &quot;.json&quot;]"/>
	</flow>
	<flow name="to_csv_subflow" doc:id="c934ad89-b860-4bd9-9988-3d309609c820" >
		<ee:transform doc:name="to csv" doc:id="b1df2f10-8dda-491e-956d-b8a094bee60a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---

	payload.DATA.*ROW 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write csv" doc:id="183af5ef-88a4-4175-a070-60560bfa7b80" config-ref="File_Config1" path="#[&quot;file-&quot; ++ now() as String {format: 'Y-M-d-h-m-s'} ++ &quot;.csv&quot;]"/>
	</flow>
	<flow name="to_xlsx_subflow" doc:id="a6808e37-4e0c-4903-8900-364e07183704" >
		<ee:transform doc:name="to xlsx" doc:id="dceffe20-9bed-449f-988b-ad2e23ab39bd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xlsx
---
{
	'sheet1':payload.DATA.*ROW 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write xlsx" doc:id="fa454940-1ed0-488e-a41f-a7d328adfc61" config-ref="File_Config2" path="#[&quot;file-&quot; ++ now() as String {format: 'y-M-d-h-m-s'} ++ &quot;.xlsx&quot;]"/>
	</flow>
</mule>
